<h1><%- title %></h1>

<a href="/people/new">Create</a>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Age</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% people.forEach(function(person, key) { %>
			<tr>
				<td><%- person.name %></td>
				<td><%- person.age %></td>
				<td>
					<a href="/people/ <%- person.id %>">See more</a>
				</td>
			</tr>
		<% }) %>
	</tbody>
</table>